[2016-05-05 12:57] n0ne opened #1 "Unsupported"
Hi.
I tryed to install and got this error:

npm ERR! notsup Unsupported
npm ERR! notsup Not compatible with your operating system or architecture: fsevents@1.0.11
npm ERR! notsup Valid OS:    darwin
npm ERR! notsup Valid Arch:  any
npm ERR! notsup Actual OS:   linux
npm ERR! notsup Actual Arch: x64

Darwin?! My system not compatible with loading-bar... Sounds strange...

[2016-05-05 13:27] mironov commented on #1
@n0ne Sorry, I accidentally included `npm-shrinkwrap.json` in the package that contains OS-specific dependencies. I just released the v1.1.1 without it.
Please try to install it and let me know if that works.

[2016-05-05 13:32] n0ne commented on #1
Yes, now installed (-:
Thank you

[2016-05-05 13:32] #1 closed

[2016-05-19 14:39] royroev opened #2 "error in isomorphic app"
/Users/admin/WebstormProjects/chefmarket/node_modules/fbjs/lib/invariant.js:38
      error = new Error(format.replace(/%s/g, function () {
              ^
Invariant Violation: React DOM tree root should always have a node reference.

[2016-05-20 10:50] mironov commented on #2
@royroev Could you include your `package.json` and the code you're using?
I just installed Loading Bar into an isomorphic app and it seems to be working:
https://github.com/mironov/isomorphic-redux-app/commit/3b64de76d1b3895e20b8c9e21d53e172520e7eaf

[2016-05-21 11:31] 18601673727 commented on #2
I have similar error with @royroev
[code]

[2016-05-23 13:32] royroev commented on #2
@mironov i use last version https://github.com/kriasoft/react-starter-kit

[2016-05-23 13:52] royroev commented on #2
@mironov oh, in the 2.0.0 version, all is well! Thanks )

[2016-05-23 14:00] royroev commented on #2
no) work if
[code]

[2016-05-23 17:42] mironov commented on #2
@royroev @18601673727 Thanks for the additional info.
I've released the v2.0.1 that should address the issue with isomorphic apps.
Please give it a try.

[2016-05-24 08:21] royroev commented on #2
@mironov it's work! Thanks!

[2016-05-24 08:21] #2 closed

[2016-05-24 21:15] 18601673727 commented on #2
Sorry, not working for me, I'm sure configuration did well and no error occured just nothing happen.

You could reproduce by
[code]
and change
[code]
 to
[code]
 in `app/containers/App.jsx`

[2016-05-25 06:13] mironov commented on #2
@18601673727 Please use the bundled reducer instead of the `reducers/loading`.
This commit seems to be working: https://github.com/mironov/react-webpack-node/commit/2f08412fb67db10e2e5e3d928d769004faaaa818

[2016-05-25 17:14] 18601673727 commented on #2
@mironov Solved, that's the exact reason why it doesn't work, thank you!

[2016-05-27 13:57] stanislav-grin opened #3 "setState() called on an unmounted component if change path after success action"
If you call `browserHistory.push(somepath)` after success action was dispatched, the next error would be:
`setState(...): Can only update a mounted or mounting component. This usually means you called setState() on an unmounted component`

Clearing interval in componentWillUnmount would resolve this issue.
I've added this in `loading_bar.js` and it helped me:
[code]

[2016-05-27 15:58] #3 closed

[2016-05-27 16:00] mironov commented on #3
@stanislav-grin Thanks for reporting that and for the solution!
Release v2.0.2 addresses the issue.

[2016-08-30 15:54] florin314 opened #9 "resetProgress is called after the loading-bar was unmounted"
VM789:27 Warning: setState(...): Can only update a mounted or mounting component. This usually means you called setState() on an unmounted component.

window.console.error	@	VM789:27
printWarning	@	warning.js:36
warning	@	warning.js:60
getInternalInstanceReadyForUpdate	@	ReactUpdateQueue.js:48
enqueueSetState	@	ReactUpdateQueue.js:200
ReactComponent.setState	@	ReactComponent.js:64
resetProgress	@

[2016-08-30 16:27] #9 closed

[2016-08-30 16:37] mironov commented on #9
@florin314 Thanks for letting me know, this is fixed in v2.3.1.

[2016-09-01 09:58] florin314 opened #10 "Unallocated progressInterval handler"
I basically perform the actions bellow:

1) dispatch(showLoading())
2) dispatch(hideLoading())
3) dispatch(showLoading())
4) dispatch(hideLoading())
.....
Sometimes the error bellow pops up in an infinite loop:
window.console.error
@ VM54:27printWarning
@ warning.js:36warning
@ warning.js:60
getInternalInstanceReadyForUpdate
@ ReactUpdateQueue.js:48enqueueSetState
@ ReactUpdateQueue.js:200ReactCom

[2016-09-01 18:49] #10 closed

[2016-09-01 18:55] mironov commented on #10
@florin314 Thanks for reporting! This is fixed in v2.3.2.

[2016-09-02 08:52] florin314 opened #11 "Percent value isn't reset when animationTimeout is cleared"
Thank you for your quick answers on the previous issues.

When the animationTimeout is cleared on the launch function the percent isn't reset to 0 , so on the next showLoading action  the bar isn't displayed.
I put bellow a workaround that seems to solve this:

function launch() {
var progressInterval = this.state.progressInterval;
var animationTimeout = this.state.animationTimeout;
var percent =

[2016-09-03 21:01] #11 closed

[2016-09-03 21:05] mironov commented on #11
@florin314 Thank you for your reports! Your suggestion works for me.
Fixed in v2.3.3.

[2016-09-27 08:49] oluckyman opened #12 "set background color via className"
Now I see the only way to override background color is by setting `style` prop. But I would like to use `className` prop only and configure style in sass. To override background I have to use `!important` which makes my sass linter unhappy

[2016-10-03 16:13] RakanNimer opened #13 "Possible to add option to export UI component separately ?"
Hey !
Thanks for your work on this cool module.

I'm trying to run some tests on a dumb component that is used to render the LoadingBar.

I can't run tests on the UI part only as I can't import it separately because you're connecting to the store in the loading bar file and exporting the container.

Would it be possible to split the logic of connecting to store and rendering, and therefore allowin

[2016-10-04 08:08] #13 closed

[2016-10-04 08:11] RakanNimer commented on #13
Yay :) Thanks !

[2016-10-04 08:11] mironov commented on #13
@RakanNimer Hey, thank you for giving `react-redux-loading-bar` a try!
I pushed v2.3.4 that exports the UI component along with the container.
You can import it by name:
[code]

[2016-10-04 08:16] mironov commented on #12
@oluckyman Thanks for the detailed explanation. I agree, that needs to be improved. Setting the color for the Loading Bar should be as simple as possible.

I'll come with some solution this week.

[2016-10-08 20:02] #12 closed

[2016-10-08 20:06] mironov commented on #12
@oluckyman Pushed the v2.4.0 that doesn't apply styling if you set a CSS class on the component. If you specify a CSS class, please set `color`, `height` and `position` yourself.

[2016-10-20 08:55] mfgabriel92 opened #14 "Usage of `dispatch()`"
Hi,

I'm trying to make use of the `dispatch(showLoading())` in my actions, using `redux-api-middleware` in actions like this:

[code]

I've managed to make it show but not hide, though, by putting right after the first `return`.

[2016-10-21 05:14] mironov commented on #14
Have you considered using the [bundled middleware](https://github.com/mironov/react-redux-loading-bar#usage-with-custom-suffixes-or-another-promise-middleware)? You can configure your suffixes and it will show/hide the Loading Bar automatically.

Let's say you have these constants:

[code]

Your code can remain untouched:

[code]

Now configure the `react-redux-loading-bar` middleware:

[code]

Th

[2016-10-24 13:24] mironov commented on #14
@mfgabriel92 I'm going to close this for now. Please feel free to reopen it if you still experience the issue.

[2016-10-24 13:24] #14 closed

[2016-10-28 01:22] tarim opened #15 "loading bar not display"
Hi,

I tried all of your description, but, the loading bar is not display. Do I need any css file or so? Please need your help.

Thanks,

[2016-10-28 09:33] mironov commented on #15
No, there is no css files needed. All styles apply in an inline mode.
Could you share more info about your setup? Specifically, what promise middleware do you use (if any), what versions of react and redux, and anything that might be related.

Please take a look at the source code of the demo, it has a working example:
https://github.com/mironov/react-redux-loading-bar/tree/gh-pages/src

[2016-10-28 11:44] tarim commented on #15
Hi @mironov ,

Thank you very much for your reply.

Here is my store js file

import { createStore, applyMiddleware, compose } from 'redux';
import reducer from '../reducers';
import redThunk from 'redux-thunk';
import { loadingBarMiddleware } from 'react-redux-loading-bar';
import createLogger from 'redux-logger';
export default function configureStore(initialState) {
  const middlewares=[redThun

[2016-10-28 11:53] tarim commented on #15
Hi @mironov ,

Here is my dependencies on package.json

"dependencies": {
    "react-redux": "^4.4.5",
    "react-redux-loading-bar": "^2.4.0",
    "react-router": "^2.0.0-rc5",
    "react-widgets": "^3.3.2",
    "redux": "^3.5.2",
    "redux-form": "^4.2.2",
    "redux-logger": "^2.7.0",
    "redux-thunk": "^2.0.1"
  }

[2016-10-28 12:09] mironov commented on #15
@tarim Have you mounted the Loading Bar itself?

You need to place it where you need it in the DOM:
[code]

[2016-10-28 12:11] tarim commented on #15
Hi @mironov ,

Yes, I did. I have header file

import React, { Component } from 'react';
import LoadingBar from 'react-redux-loading-bar';
export default class Header extends Component {
    constructor() {
      super();
    }
    render() {
      return (
            <header id='header'>
            <div id='logo-group'>
                <span id='logo'>
                    <img src='../style/img

[2016-10-30 13:47] mironov commented on #15
@tarim I don't see any promise middleware in your package.json. Do you use a custom middleware or you don't use it at all?

Loading Bar will not be shown until you tell it to show using `showLoading()` action. Could you confirm that the Loading Bar has mounted into the DOM? You can do that by inspecting the web page and looking for a div that has `width`, `transition`, `opacity` and other properti

[2016-10-31 11:54] tarim commented on #15
Hi @mironov ,

I used Redux-Thunk, please check my dependencies.

Thank you,

[2016-11-01 21:11] mironov commented on #15
@tarim Sorry it's taking so long. I'd appreciate it if you can make a quick repo that I can take a look into.

Please confirm that you're dispatching `showLoading` and `hideLoading` actions manually as outlined in [Usage without middleware](https://github.com/mironov/react-redux-loading-bar#usage-without-middleware).

[2016-11-02 05:51] markau commented on #15
Hey @mironov, sweet progress bar. I am experiencing a similar issue. Inspecting the DOM, I can see that the bar is on the page, but both the `width` and `opacity` remain at `0`.

I am testing without middleware for simplicity. Therefore, following the docs, I am doing:

The `<LoadingBar />` component is in my `render()` function

[code]

And then in my actionCreator, where I am dispatching other a

[2016-11-02 07:01] mironov commented on #15
Hey @markau, thank you!

Have you installed the loading bar reducer? Please take a look at this barebones example of the usage without middleware: https://github.com/mironov/react-redux-loading-bar-barebones-example

Required steps:
1. Mount the loading bar
2. Install reducer

That should make it.

[2016-11-02 12:29] tarim commented on #15
Hi @mironov ,

I checked page DOM, and, the div tag is exist. but width is never change.
I believe I did exactly your document said.
Need your help.

Thank you.

`<div style="width: 0%; transition: width 400ms ease-out, height 400ms linear, opacity 400ms ease-out; opacity: 0; height: 3px; background-color: red; position: absolute;"></div><div style="display: table; clear: both;"></div>`

[2016-11-02 22:42] markau commented on #15
@mirinov you're right, I did not have the reducer in my combine reducers function. (I am sure I did at some stage!).  Anyway, I'm pleased to confirm it's all working. Cheers.

[2016-11-03 07:09] mironov commented on #15
@markau Awesome!

@tarim Could you check that Loading Bar's reducer is installed?

[2016-11-03 12:34] tarim commented on #15
Hi @mironov ,

Yes, it is already installed to my reducer.

[code]

[2016-11-03 15:03] tarim commented on #15
Hi @mironov ,

Any suggestion please?

Thanks,

[2016-11-03 18:03] tarim commented on #15
Hi @mironov ,

I added redux-promise-middleware, but still no luck.

[code]

[2016-11-03 19:04] mironov commented on #15
@tarim Please copy here the code that invokes `showLoading()` action.

[2016-11-03 19:39] tarim commented on #15
@mironov ,

I don't have any showLoading() action. I used middleware( because I don't like add show and hide action each action).

Thank you,

[2016-11-03 19:42] tarim commented on #15
Hi @mironov ,

before I add your loading bar, I used http://milworm.github.io/react-progress-2/  . It is working fine. But, you have add show and hide to each actions. So, I decided use yours.

Thanks,

[2016-11-03 20:01] mironov commented on #15
@tarim Oh that explains everything! Sorry, I should make it more clear in the readme.

The `react-redux-loading-bar` works automatically if you use some kind of promise middleware and perform for example xhr requests using that middleware. That middleware will dispatch `_PENDING` and `_SUCCESS`/`_FAILURE` actions that Loading Bar's middleware listen to.

If you don't want to use any promise middle

[2016-11-03 20:15] tarim commented on #15
@mironov ,

I got your point, but, I added promise middleware(because I don't like to add show hide to each actions). So, I don't know why, it still not show up. Or, did I missing something?

Thank you,

[2016-11-03 20:21] mironov commented on #15
@tarim What action do you dispatch using the promise middleware?

[2016-11-03 20:48] tarim commented on #15
@mironov ,

I change my code, removed middleware, and added showLoading and hideLoading. But, it still not show up.

Here is my code please have a look.

[code]

[2016-11-03 20:51] mironov commented on #15
@tarim That's probably because `hideLoading` is dispatched right after `showLoading`.

You might want to hide loading bar after response received:
[code]

[2016-11-04 13:00] tarim commented on #15
Hi @mironov ,

Thank you for your help. It is working now. But, it is almost same as my old one. Do you have any example with promise middleware please?

[2016-11-04 13:08] mironov commented on #15
@tarim There is an example here:
https://github.com/mironov/react-redux-loading-bar/blob/gh-pages/src/reducers/photos.js#L7-L13

The idea is to return a fetch promise in your action and the promise middleware will dispatch `PENDING` and `FINISHED` actions for you.

[2016-11-04 13:53] tarim commented on #15
Hi @mironov ,

It looks like not easy to implement on my application. Is there any possibility to handle with state data value?
For example: on reducer

[code]
So, the loding bar control by isLoading value. What do you think? Is that possible to this way??

Thanks,

[2016-11-05 10:27] mironov commented on #15
@tarim Yes, it is possible to do so in a custom middleware.

Something like:
[code]

It listens for all actions and dispatches `showLoading`/`hideLoading` when the `isLoading` flag is set on an action.

[2016-11-07 10:51] mironov commented on #15
@tarim I'm going to close the issue as there's nothing to fix here. Feel free to re-open if you still experience the problem.

[2016-11-07 10:51] #15 closed

[2016-11-07 18:52] tarim commented on #15
@mironov ,

Thank you very much for your help.

[2016-12-02 02:48] abarcemas opened #18 "When will Immutable be implemented in the NPM?"
Hi. I was wondering when will you deploy the npm support for this application. I'm using https://github.com/mxstbr/react-boilerplate and it uses immutable.

Thanks.

[2016-12-02 07:57] mironov commented on #18
@abarcemas Hey, I just released the 2.5.0 with the support of immutable stores. Feel free to reopen the issue if you experience any issue.

[2016-12-02 07:57] #18 closed

[2016-12-05 15:48] OmriKeret opened #19 "Force hide loading"
Hi guys,

Thanks for the work you've done with the react-redux-loading-bar.
I am using react-redux-loading-bar without a middleware and I found myself in need for "force hide loading bar" functionality.
Meaning I need the ability to hide the loading bar with no consideration to how many times SHOW has been dispatched.
Do you plan on developing this ability?
Thanks

[2016-12-11 10:18] mironov commented on #19
Hey @OmriKeret, I just published the v2.6.0 with the new `resetLoading` action. You can import it and dispatch wherever you want to "force hide" the loading bar. Thanks for the idea!

[2016-12-11 10:18] #19 closed

[2016-12-11 10:20] OmriKeret commented on #19
Thanks!<3

[2016-12-16 13:03] larrydahooster opened #20 "Add support for react-redux 5.x"
A new redux version was just released. I think the API is backward compatible and thus it should be no problem to add redux 5.x also to the peer dependency of this package.

[2016-12-19 05:24] DumanBi opened #21 "TypeScript Definition Files"
Need TypeScript Definition Files.

[2016-12-22 08:09] iioollun opened #22 "Help me about loading bar in mxstbr/react-boilerplate"
I used react-redux-loading-bar in mxstbr/react-boilerplate and maybe i wrong in config. Can you help me??
- I added <LoadingBar /> at root app
- I added "loadingBar: loadingBarReducer" in root reducer (in combineReducers).
And it's not working.. May I miss or something??

[2016-12-25 10:00] stewartcelani opened #23 "Not sure if shouldShow is neccecary"
For my personal use I found that if a page loaded really quickly and say percent was only at 30% when I called hideLoading() then the loading bar would fade out too quick before reaching the end and giving an appearance of it just disappearing.

Since width of the bar is tied to loading percentage (and wont be visible when loading = 0 in the redux store) I removed the shouldShow section from your

[2017-01-04 11:46] nguyenchanhnghia opened #24 "How to config store applyMiddleware with sagaMiddleware and loadingBarMiddleware"
please tell me solution to this issues!

[2017-01-12 09:12] larrydahooster commented on #20
@mironov are there any future plans for this project? Or should I continue working on my own fork?

[2017-01-12 09:29] mironov commented on #20
@larrydahooster Sorry guys I was offline for quite some time. I'll catch up on pending PRs and issues in upcoming days.

[2017-01-13 06:16] mherodev opened #27 "If progressIncrease > (100 - maxProgress), the bar erroneously disappears."
e.g.
[code]
and
[code]
This bar will disappear despite never calling `hideLoading()`

[2017-01-15 09:54] mironov commented on #20
@larrydahooster Published 2.6.1 on the npm with the support for `react-redux` 5.x.
Thank you for the pull request!

[2017-01-15 09:54] #20 closed

[2017-01-15 09:56] #21 closed

[2017-01-15 10:07] mironov commented on #21
@DumanBi Released v2.6.2 with TypeScript definitions. Kudos to @janslow

[2017-01-15 11:48] mironov commented on #22
Hey @iioollun, it seems that `react-boilerplate` comes with its own ProgressBar: https://github.com/mxstbr/react-boilerplate/blob/master/docs/general/progressbar.md

In order to use `react-redux-loading-bar` with `react-boilerplate` you will have to remove the progress bar wrapper and use the immutable version. Here's a quick demo of the changes needed: https://github.com/mironov/react-boilerplate

[2017-01-15 11:48] #22 closed

[2017-01-15 12:23] mironov commented on #24
@nguyenchanhnghia You can pass both middlewares to the `applyMiddleware`:
[code]

The `loadingBarMiddleware` monitors all actions, shows the loading bar on actions ending with "_PENDING" and hides the loading bar on actions ending with "_FULFILLED" or "_REJECTED".

The example for such saga might be:
[code]

If you dispatch a `${FETCH}_PENDING` action, both saga middleware and loading bar middlewa

[2017-01-15 12:23] #24 closed

[2017-01-16 17:06] nguyenchanhnghia commented on #24
@mironov thanks for support! I did it.

[2017-01-16 21:23] #27 closed

[2017-01-16 21:23] mironov commented on #27
@mherodev Good catch, thanks!

[2017-01-16 21:25] mironov commented on #23
@stewartcelani Could you arrange a quick test or a demo for that?

[2017-01-21 13:43] mironov commented on #23
@stewartcelani I took the demo page of `react-redux-loading-bar` and tried 2 versions of the `shouldShow` calculation. I set the throttling to "Regular 4G" to get the loading bar middleware to call `hideLoading` at ~30 percent.

This is the original version: http://d.pr/v/xPW3
This is the version with proposed changes: http://d.pr/v/WVo0

I think the original version feels more natural and the pro

[2017-01-21 13:43] #23 closed

[2017-01-26 12:10] ashwinimnnit opened #28 "loading bar not hiding once displayed !!!"
HI,  I have used loading bar as a middle ware. everything is working fine but one loading bar is displayed it is not hiding..

[2017-01-26 12:26] mironov commented on #28
@ashwinimnnit Could you provide more info about your setup? Do you dispatch `_FULFILLED` or `_REJECTED` actions at the end of async events?

[2017-01-26 12:32] ashwinimnnit commented on #28
yes I have dispatched _FULFILLEd or _REJECTED action the `loadingBarReducer` is executing and in `case HIDE` i'm getting newstate = 1. actually on page load there are several ajax call executing

[2017-01-26 13:10] mironov commented on #28
@ashwinimnnit Please make sure the you call `_FULFILLED` or `_REJECTED` the same amount of times as `_PENDING`. Basically speaking, the Loading Bar will be shown until all ajax request complete.

If you want to forcefully hide Loading Bar, you can call `resetLoading()` at any time.

[2017-01-26 13:14] ashwinimnnit commented on #28
I tried `resetLoading()`  but it is throwing error `Uncaught (in promise) TypeError: (0 , _reactReduxLoadingBar.resetLoading) is not a function`

[2017-01-26 13:15] mironov commented on #28
Please show me the code you're using.

[2017-01-26 13:17] ashwinimnnit commented on #28
`import { showLoading, hideLoading, resetLoading } from 'react-redux-loading-bar';

export default function loadingBarMiddleware(config = {}) {
    return (store) => next => (action) => {
        console.log('dispatch', action);

        const isPending = new RegExp(`_FETCHING_`, 'g')
        const isFulfilled = new RegExp(`_FETCHED_`, 'g')
        const isRejected = new RegExp(`_FETCH_.*_FAILED`,

[2017-01-26 13:23] mironov commented on #28
@ashwinimnnit Well, apparently I forgot to export `resetLoading` action. I just published the v2.6.5, please give it a try.

[2017-01-26 13:25] ashwinimnnit commented on #28
ok :)

[2017-01-26 13:32] ashwinimnnit commented on #28
Yeah that error has gone... but still hideLoading is not hiding the loading bar

[2017-01-26 13:38] mironov commented on #28
Could you check what is in the store?

[2017-01-26 13:38] ashwinimnnit commented on #28
@mironov : but show and hide action are executing same number of time...

I debug it ... in the end I'm getting  newState = 1 when `case is Hide`

[2017-01-26 13:45] ashwinimnnit commented on #28
@mironov i checked store and get `loadingBar: 2`

[2017-01-26 13:47] mironov commented on #28
`resetLoading` explicitly sets the counter to 0.
If the counter is > 0 that might mean that `showLoading` has been called after `resetLoading`.

Could you check the order of actions that were dispatched using redux logger middleware?

[2017-01-26 13:53] ashwinimnnit commented on #28
Yeah sequence is somethig like this.

 loading-bar/SHOW ---> loading-bar/HIDE ---> loading-bar/SHOW --->   loading-bar/HIDE and at last newState is 1

[2017-01-26 14:02] mironov commented on #28
In that case the counter should be 0. Please make sure there're no more loading bar related actions dispatched.

[2017-01-26 14:03] ashwinimnnit commented on #28
when the first time showLoading() is called  `loadingBar: 2` in store , I think it should be 1

[2017-01-26 14:08] mironov commented on #28
Yes it should be 1. Please check your initial state of the store when the app is being loaded.

[2017-01-26 14:12] ashwinimnnit commented on #28
initially the state is 0 ---> then it become 1 ---> then  `loading-bar/SHOW` action executes which makes it 2.

[2017-01-26 14:13] mironov commented on #28
When you say "then it become 1" — what do you mean? What action makes the counter to become 1?

[2017-01-26 14:21] ashwinimnnit commented on #28
![logger](https://cloud.githubusercontent.com/assets/11703081/22334404/af76ab20-e400-11e6-93d8-ccea43615ce9.jpg)
 see my logger state

[2017-01-26 14:37] mironov commented on #28
@ashwinimnnit Something is changing the counter to 1 before `showLoading` kicks in. I can take a look deeper if you can push related code to a repo or gist.

[2017-01-26 15:20] ashwinimnnit commented on #28
Hi I debug the `loadingBarReducer() in loading_bar_duck` and found this
![logger](https://cloud.githubusercontent.com/assets/11703081/22336667/025de22e-e409-11e6-8660-cc38f39a4784.jpg)

[2017-01-26 17:41] mironov commented on #28
@ashwinimnnit Do you use the bundled `loadingBarReducer` or a custom one? It looks like the `loadingBarReducer` returns 1 on store initialization.

[2017-01-27 03:25] ashwinimnnit commented on #28
Loading BarReducer is bundle but the middle ware is custom

On 26 Jan 2017 11:11 pm, "Anton Mironov" <notifications@github.com> wrote:

@ashwinimnnit <https://github.com/ashwinimnnit> Do you use the bundled
loadingBarReducer or a custom one? It looks like the loadingBarReducer
returns 1 on store initialization.

—
You are receiving this because you were mentioned.
Reply to this email directly, vie

[2017-01-27 06:06] ashwinimnnit commented on #28
@mironov :

          function loadingBarReducer() {
             var state = arguments.length > 0 && arguments[0] !== undefined ? arguments[0] : 0;
           // here at store initialization arguments[0] contains 1 when the action type is                    @@redux/PROBE_UNKNOWN_ACTION_9.o.0.b.b.5.1.k.b.6.7.k.q.0.8.u.x.r
            var action = arguments.length > 1 && arguments[1] !== undefined

[2017-01-29 14:44] mironov commented on #28
@ashwinimnnit Could you show your `combineReducers` function?

[2017-01-30 13:18] #28 closed

[2017-01-31 15:50] Chaoste opened #29 "Handle fast request"
Hi,

I'm using your module for my API request and I'm facing a problem right now. Often the request are very fast - let's say 5 ms (right now the server is running on localhost). For those request you want even the see the loading bar.

I would appreciate to see the bar quickly moving towards 100% and then disappearing. I guess this can be easily implemented by just adding a property "transitionTi

[2017-02-14 00:42] vhpoet opened #30 "Is this supposed to work with server-side rendering?"
I get this exception

[code]

Thanks

[2017-02-19 14:12] mironov commented on #30
Hey @vhpoet, thank you for letting me know about this error. I just published the v2.6.6 that should fix this bug. Please let me know if it works because I don't use server side rendering yet.

[2017-02-19 15:42] #29 closed

[2017-02-19 15:45] mironov commented on #29
Hey @Chaoste, sorry for the radio silence.
I pushed v2.7.0 with slightly reworked animation.
It will briefly display Loading Bar for quick actions as you requested.

[2017-02-21 19:41] vhpoet commented on #30
@mironov almost. Checking on 2.7.0 I don't get the exception anymore, but there are still a couple of problems.
- I get my initial state with `loadingBar:2` which I'm guessing is happening because the server side requests also count. The problem is avoided when I only conditionally use the `loadingBarMiddleware` only if the browser is a browser.
- The animation never stops, it goes from 0 to 100 a

[2017-02-22 02:00] mikedevita commented on #24
@mironov awesome explanation, i assume this would work similarly with thunks, pending that actions such as the REQUEST_PENDING, REQUEST_FULFILLED, REQUEST_REJECTED are used when fetching backend data...

[2017-02-23 09:28] oluckyman opened #31 "the bar keep reloading forever"
in 2.6.6. it works well, but in 2.7.0. it reloads forever

![fxmbur6bdu](https://cloud.githubusercontent.com/assets/642673/23252750/44992b30-f9b2-11e6-93e5-f71b0a1dbf1f.gif)

[2017-02-24 23:48] vhpoet commented on #31
yep, I have the same [here](https://github.com/mironov/react-redux-loading-bar/issues/30).

[2017-02-26 14:06] mironov commented on #30
@vhpoet Could you help me with reproducing the problem?

I took one of universal boilerplates and installed the Loading Bar: https://github.com/mironov/react-redux-universal-hot-example/commit/fb53a2e995b562fa76665ed71ef7238f7550a8ad
Can't reproduce described issues.

[2017-02-26 14:08] mironov commented on #31
@oluckyman Couple of questions:
1. Do you use server-side rendering?
2. Could you send me a list of redux actions and their order. This can be viewed with [`redux-logger`](https://github.com/evgenyrodionov/redux-logger) middleware.

[2017-02-27 08:56] oluckyman commented on #31
I do not use server-side rendering.
I do not remember the specific order, but I know for sure that there are no any actions when the bar is hanging in the endless cycle of rerendering.

[2017-03-04 20:52] mironov commented on #31
@oluckyman I just published the v2.7.1 that might fix the problem described. Please give it a spin and let me know how it goes.

[2017-03-04 20:53] mironov commented on #30
@vhpoet I published v2.7.1 that might fix at least the animation problem. Please let me know if it fixes your issues.

[2017-03-06 21:31] oluckyman commented on #31
it goes great, thanks! 👍

[2017-03-06 21:31] #31 closed

[2017-03-07 00:14] vhpoet commented on #30
@mironov will check and let you know, thanks!

[2017-03-07 00:38] vhpoet commented on #30
@mironov animation thing is fixed, but the other issue is not resolved. This might be a problem with my local environment tho, don't have much time to debug right now, so will just add the middleware on the client only.

[2017-03-07 14:53] mironov commented on #30
@vhpoet Great to hear. I'm going to close this issue for now as I can't reproduce the remaining problem. Please feel free to reopen it if you find additional details.

[2017-03-07 14:53] #30 closed

[2017-03-13 12:12] wangtao0101 opened #32 "simulateProgress will still clearInterval when loadingbar > 0"
1 put(showLoading())
2 put(hideLoading())
3 put(showLoading())
4 put(hideLoading())
if 2 is very closely to 3, simulateProgress will ingnore the loadingbar state, and disappear the loading bar .

I solve the problem in this way:
[code]

[2017-03-17 12:42] mironov commented on #32
@wangtao0101 I'm on it, thanks for reporting.

[2017-03-17 13:29] #32 closed

[2017-03-17 13:30] mironov commented on #32
@wangtao0101 Published v2.7.3 with the fix.

[2017-03-20 15:45] naltatis opened #33 "timeout until the loading bar is shown"
Would be nice if it was possible to set an activation timeout. So that for fast actions (say under 300ms) the loading bar should not activate at all. This would make the UI less noisy in many cases.

[2017-03-21 13:17] nextofsearch opened #34 "Can't make it work with redux-thunk"
Hi,

I followed the readme but can't make it work with redux-thunk.

[code]

[code]

Also added `<LoadingBar />
`
Can you please tell me where to look?

[2017-03-21 13:43] mironov commented on #34
@nextofsearch Hi.

In order to use `react-redux-loading-bar` with `redux-thunk` you'll need to dispatch `showLoading` and `hideLoading` actions from within your actions.

Your actions should look like that:

[code]

[2017-03-21 15:05] nextofsearch commented on #34
Hi @mironov

Oh, I thought redux-thunk is one of middleware using Promises middleware. I just want to avoid adding showLoading() & hideLoading() to every action. What would be your recommendation of easy-to-use middleware choice?

Thanks!

[2017-03-22 09:57] mironov commented on #34
@nextofsearch I've been using [`redux-promise-middleware`](https://github.com/pburtchaell/redux-promise-middleware) for quite a while. It's great and works out-of-the-box with `react-redux-loading-bar`.

[2017-03-22 14:26] nextofsearch commented on #34
@mironov Thank you. I will try it out.

[2017-03-25 21:51] mironov commented on #33
@naltatis Good idea. The default behavior in v2.8.0 is to not show Loading Bar on fast actions.
If you want to display Loading Bar even on quickly finished actions you can pass the `showFastActions` prop.

[2017-03-25 21:51] #33 closed

[2017-03-25 21:52] mironov commented on #29
@Chaoste Just a heads up that the behavior changed in v2.8.0.
The default behavior in v2.8.0 is to not show Loading Bar on fast actions.
If you want to display Loading Bar even on quickly finished actions you can pass the `showFastActions` prop.

[2017-03-26 03:09] naltatis commented on #33
Nice 🚀! Thanks for your work, I'll try that tomorrow.

[2017-04-11 11:12] jamby commented on #34
@nextofsearch Did you figure out a way to get it to work with `redux-thunk` and `redux-promise-middleware`? I also do not want to call `dispatch(showLoading())` and `dispatch(hideLoading())` every time. I would rather any AJAX request turns it on.

[2017-04-11 11:24] mironov commented on #34
@jamby How do you perform AJAX requests? If you use `redux-promise-middleware` and `fetch`, then `react-redux-loading-bar` will work out of the box. You'll need to install the `loadingBarMiddleware` as it is mentioned in [Readme](https://github.com/mironov/react-redux-loading-bar#usage).

[2017-04-11 11:27] jamby commented on #34
Currently using `redux-thunk` and then doing an `axios` request for posting/getting information.

For instance:

[code]

[2017-04-13 20:39] mironov commented on #34
@jamby Sorry for the late reply.
I created a branch of demo with `axios`. You can take a look at the diff here:
https://github.com/mironov/react-redux-loading-bar/compare/gh-pages...demo-axios

[2017-04-14 00:21] nextofsearch commented on #34
@jamby I haven't figured it out yet.
@mironov I am using thunk and 'isomorphic-fetch'. Is there any workaround for me as you suggested in the demo link above.

My custom fetching code is:

[code]

[2017-04-14 04:40] jamby commented on #34
At first I was confused on how it works especially for chaining dispatches, but then I looked at the complex redux-promise-middleware demo and saw how they did it.

https://github.com/pburtchaell/redux-promise-middleware/tree/master/examples/complex

Thanks!

[2017-04-14 09:39] mironov commented on #34
@nextofsearch It seems that you don't use `redux-promise-middleware` and thus can't [rely](https://github.com/mironov/react-redux-loading-bar/blob/master/src/loading_bar_middleware.js) on its action type names.

Do you use `fetchData` across the app whenever you need to fetch any data? If yes, you can simply put `showLoading` and `hideLoading` calls in it.
You can dispatch `showLoading` before dis

[2017-04-14 09:39] #34 closed

[2017-04-15 01:35] nextofsearch commented on #34
@mironov
Thanks for the tip and it's working now.

[2017-04-15 01:58] nextofsearch opened #35 "How to make loading bar loops"
Hi,

I am wondering if I can make loading bar move in a loop until the components finishes loading. When  there are multiple long running fetches, the current implementation makes me wonder if it hung.

Thank you!

[2017-04-15 09:43] mironov commented on #35
@nextofsearch Sorry but that is not possible in the lib.
Loading bar is designed to simulate progress and not just as a loading indicator.
You can decrease `progressIncrease` to `3` or even `1` to make the progress slower.

[2017-04-15 09:43] #35 closed

[2017-04-18 07:44] Shadowman4205 opened #36 "Invariant Violation: Could not find "store" in either the context or props of "Connect(LoadingBar)""
I trying use this loading bar following using example but i get this error.

[2017-04-18 07:55] Shadowman4205 commented on #36
I am using react starter kit, and the problem were i put it in wrong component (Html) Dunno why if i find why i will post here.

[2017-04-18 07:55] #36 closed

[2017-04-20 05:26] vrpruthvi commented on #24
@mironov I have implemented the above steps and found loading bar to visible for first dispatch action but doesn't show up for consecutive dispatch on the same route. I'm I missing something in declarations?

[2017-04-20 05:59] mironov commented on #24
@vrpruthvi Could you post somewhere the log of actions dispatched? Do you use `loadingBarMiddleware`?

[2017-04-20 08:27] vrpruthvi commented on #24
@mironov Yes, I'm using `loadingBarMiddleware`. Here is the action dispatch flow.
![action flow](https://cloud.githubusercontent.com/assets/5886080/25221008/3861241c-25d1-11e7-8221-7aa7dcb0af79.png)

[2017-04-20 08:37] mironov commented on #24
@vrpruthvi Thank you for posting the screenshot.
It looks like the Loading Bar dispatches the `SHOW` and `HIDE` actions twice. That is correct because you have 2 `FETCH` actions here.

Could it be that you don't see the Loading Bar because the data comes really fast?
Try to pass the `showFastActions` prop to the Loading Bar:
[code]

[2017-04-20 09:25] vrpruthvi commented on #24
@mironov `FETCH` takes 1-2 secs. Tried using `showFastActions` still no luck.

[2017-04-20 09:51] mironov commented on #24
@vrpruthvi Please check that Loading Bar is mounted on the page. Could it be that it unmounts after the first `FETCH`?

[2017-04-20 10:03] vrpruthvi commented on #24
@mironov Yes Loading Bar is mounted on the page. Observed that state of component changes but still the bar doesn't show up on the page. When I traverse to other routes it works well for first dispatch and then doesn't show up for later dispatch.

![loadingbar](https://cloud.githubusercontent.com/assets/5886080/25225310/9c984854-25de-11e7-80ac-58db74d9545e.gif)

[2017-04-20 10:14] mironov commented on #24
@vrpruthvi Well, that means that Loading Bar is simply not visible in the viewport. Probably another component renders on top of Loading Bar, or you have scrolled below it.

Check your CSS classes and try to increase `z-index`.

[2017-04-20 10:21] vrpruthvi commented on #24
@mironov My bad! CSS was the culprit.

[2017-05-13 03:46] ksngits opened #38 "Hideloading not hiding the progress bar"
Hi,

I am using showLoading and hideLoading with redux forms. On successful form submission and return results, I am hiding the bar, but the loading bar is not getting hidden.

[code]
The state keeps getting appended
**Object {form: Object, loadingBar: 1} (for first time)**
In fact my other forms are all working fine with redux-forms and following the same pattern. Let me know if i am required to

[2017-05-13 10:25] ksngits commented on #38
huh, I know whats the issue..... arrow function & this ... leaving the answer for others to learn.

[2017-05-13 10:25] #38 closed

[2017-05-13 15:42] mironov commented on #38
@ksngits Glad it worked out for you and thanks for posting the solution!

[2017-05-18 17:36] tofumatt opened #39 "Upgrade to 2.9.0 caused loading bar to not appear in production builds of addons.mozilla.org"
Howdy there!

Sorry for the issue with minimal info but I looked at what I think is [the diff between `2.8.2...2.9.0`](https://github.com/mironov/react-redux-loading-bar/compare/762fa369691aab52df550b1a2b2ee742b2b70b2a...cfb35014376fbd7c01e2a04f5b1a04573a46113a) and couldn't find much that would indicate a breaking change.

But our production builds which include serving the site with these CSP ru

[2017-05-19 20:37] bqueiroz opened #40 "Event loading-bar/SHOW is being triggered but the component still hidden"
I'm trying to use this component but for some reason it looks like the component is not reacting to the state, the events are triggered but the bar doesn't shows up.. I'm using version `2.9.0` btw and react `15.5.4`...

my setup:
[code]

UPDATE:

not even with saga and triggering the events manually it doesn't seems to work.

[2017-05-20 13:44] mironov commented on #40
@bqueiroz Thank you for the report. It looks like something overlaps the loading bar.
Could you check in Web Inspector that the loading bar is making progress?
It should look like it is on the video: http://d.pr/v/eeVUm

If inline `style` is changing, then please set `z-index` on the loading bar or `position` it as it's appropriate.

You have set you own `className` on loading bar. Please keep in

[2017-05-21 01:07] mironov commented on #39
@tofumatt Thanks for the bug report, it was a tricky one!

The problem can be reproduced with Server Side Rendering and strict Content Security Policy for styles (i.e. `style-src` doesn't have `'unsafe-inline'`).

Some context:
I intentionally haven't introduced any dependencies or CSS files into the loading bar to keep it lightweight and easy to configure. It can be used without any preprocessors

[2017-05-21 01:09] mironov commented on #40
@bqueiroz If you use server side rendering, please give v2.9.1 a try. It includes a fix for SSR with strict CSP (#39).

[2017-05-22 12:07] bqueiroz commented on #40
@mironov that was the first thing I did, checking if the had z-index:9999, I'm not using ssr... But right now I'm using a custom made one that I hooked up in the XHR events, I will change to use it again with v2.9.1 and let you know, thanks for the reply =]

[2017-05-28 17:54] mironov commented on #39
@tofumatt I'm going to close this issue as I think it is resolved in v2.9.1.
Feel free to reopen if the fix didn't work for you.

[2017-05-28 17:54] #39 closed

[2017-05-28 17:55] mironov commented on #40
@bqueiroz I'm going to close the issue as I think the problem should be with Loading Bar CSS positioning. Feel free to reopen the issue if you have any additional info.

[2017-05-28 17:55] #40 closed

[2017-05-28 23:40] tofumatt commented on #39
Will do, sorry I haven't tried the fix sooner and thanks so much for your work looking into it and fixing it with the little info I gave! Just been busy with another part of the project but I'll try it this week hopefully 😄

[2017-05-30 22:13] tofumatt commented on #39
Just wanted to let you know I tested this on our production build (locally) and it seems to have worked perfectly. Thanks so much for tracking this down and the quick fix! 😄

[2017-05-31 19:58] morgler opened #41 "Bar showing and hiding delayed"
I trigger the loading bar manually for my fetch requests by dispatching `showLoading()` before the fetch and `hideLoading()` after I received data. Although the loading bar shows, animates and then hides, everything is delayed! It almost looks like nothing is happening on showLoading() and the bar only shows once hideLoading() is called. Then it stays there for a default time and disappears.

Here

[2017-06-01 09:47] mironov commented on #41
@morgler Please take a closer look at the gif posted. If you check its 16-17 frames you can see that Loading Bar is shown and slowly starting to animate. I agree that the current behavior looks weird and makes the app looks slower than it is.

Loading Bar doesn't get displayed for the first 200ms (default `updateTime`) in order to skip instant requests. So technically once it is shown, it should a

[2017-06-11 21:36] mironov commented on #41
@morgler v2.9.2 includes faster terminating animation that should help with the issue you were seeing. If you still feel that Loading Bar is displayed delayed, please keep the `updateTime` higher than 200ms.

[2017-06-11 21:36] #41 closed

[2017-06-11 22:37] morgler commented on #41
Awesome, thanks! Will take a look at it soon.

[2017-06-15 10:47] iphonic opened #42 "Showing bar for custom width fails"
First of all, thanks for the plugin it works well, though I am finding some issues while it displays with added margin, see the screenshot below

![2017-06-15_16-05-10](https://user-images.githubusercontent.com/5745637/27177741-0c7384d6-51e5-11e7-843c-b4eb56633240.png)

What is happening is, I have a top nav bar in which I have added the Loader component which is supposed to show the loader from l

[2017-06-15 11:03] iphonic commented on #42
**Update**

I have added `position` css to both parent and child which seems to fix the problem but partially, see me code below

[code]

But it created another problem the progress bar doesn't complete 100%, see below how it looks

![2017-06-15_16-31-41](https://user-images.githubusercontent.com/5745637/27178557-5350d202-51e8-11e7-8afa-4b0c3dc2473d.png)

Thanks.

[2017-06-16 09:09] iphonic commented on #42
I fixed the issue by supplying `maxProgress={100}` as property, found that the default maxProgress  value was set to 99, so the progress wasn't completing 1.

[2017-06-16 09:09] #42 closed

[2017-06-16 09:48] mironov commented on #42
@iphonic Glad it worked out for you. The default `maxProgress` is set to 99% to show that the long-running action is still in progress. Once action is completed, the loading bar will come to 100% and disappear.

[2017-06-16 10:16] iphonic commented on #42
@mironov Should I consider that `showLoading()` only executes upto 99% while `hideLoading()` finishes the last 1%?

[2017-06-16 10:18] mironov commented on #42
@iphonic yes, exactly

[2017-06-27 05:12] arman-mukatov commented on #41
@morgler - I do not understand, everything looks smooth and beautiful..

v2.9.2 - Everything has become so fast that it so quickly appears and disappears, it's not beautiful.

[2017-07-20 02:40] ramjak commented on #40
I have the same issue. loading-bar/SHOW event has been triggered, but the opacity still 0

[2017-07-20 08:05] mironov commented on #40
@ramjak Was there a `loading-bar/HIDE` event? Could you make a quick example that reproduces the problem?

[2017-07-25 14:13] gonnarule commented on #40
Same issue here. Trying to get this to work. I have 'loading-bar/SHOW' and X sec after 'loading-bar/HIDE' actions in the redux inspector. When inspecting html, I see the component which is 0x3 px sized (0 width), even if style is width:100%. Opacity stays at 0, width / scaleX doesn't change (throttling network to have plenty of second to inspect html, but nothing occurs... Using thunk + promiseMid

[2017-07-25 17:59] mparker11 commented on #40
Has anyone found the solution to this? I'm using the dispatch method and as everyone as stated, the opacity nor the scale never changes from zero.

[2017-07-25 18:26] mparker11 commented on #40
I figured it out. In learning redux, I have still been a bit confused by this concept but in line 243 of loading_bar.js, the current line is `loading: state.loadingBar` which is `undefined`.

When I changed it to `loading: state.get('loadingBar')` (using the get method), the value is returned as expected. I have run into this problem before, using the object notation instead of redux's get method.

[2017-07-25 20:03] mironov commented on #40
@mparker11 Hey are you using `immutable-js` by any chance? Is your Redux store is an Immutable Map?

[2017-07-25 22:06] mparker11 commented on #40
@mironov Ah, I didn't even think about that! It slipped my mind because I'm using [React Boilerplate](https://github.com/react-boilerplate/react-boilerplate). I guess you can totally ignore that pull request. It works for me now! Thanks! I just learned more on when to use `get` vs the dot notation as well.

[2017-07-26 08:02] mironov commented on #40
@mparker11 Yep, that's it. React Boilerplate seems to include the immutable store: https://github.com/react-boilerplate/react-boilerplate/blob/master/docs/js/immutablejs.md

In that case you can import the immutable version of the Loading Bar.
Change
[code]

to

[code]

[2017-09-08 10:17] naffiq opened #44 "React Native support"
Any plans on creating component for `react-native`?

[2017-09-14 05:15] heinhoang opened #45 "Immutable TypeError: Cannot call a class as a function"
I configure store like this
[code]
If I use Immutable in `reducer` like bellow, it pulls out error:
`TypeError: Cannot call a class as a function`
[code]

[2017-09-22 11:44] mironov commented on #45
Hey @heinhoang, the `ImmutableLoadingBar` that you're importing is a component, not a reducer.
I clarified the paragraph in the readme.

The code should look similar to this:
[code]

[2017-09-22 12:17] mironov commented on #44
@naffiq Sorry, I'm not using `react-native` in my projects and can't allocate time to make the component `react-native`-ready. PRs are very welcome!

Most of the logic will be the same. We need to rewrite part of the code responsible for building style of the loading bar and the rendering itself.

[2017-09-22 22:08] heinhoang commented on #45
thanks @mironov, I close this issue now. I'll try your solution later. If it's not work, I'll reopen this issue.

[2017-09-22 22:08] #45 closed

[2017-10-23 08:28] nfatah opened #46 "More default CSS animation styles customization options"
What do you think of adding multiple CSS transition or animation styles, like stripes?

I cannot seem to add such custom styles using classNames or inline styles easily without having to go and make changes to the following code.

[code]

[2017-10-29 15:28] mironov commented on #46
@bnovf I changed the animation style in v2.9.0 to make it smoother: https://github.com/mironov/react-redux-loading-bar/commit/cfb35014376fbd7c01e2a04f5b1a04573a46113a

If you want to use some complex backgrounds like stripes, you have to revert to the previous approach but it's not that smooth as the `scaleX` animation. For the most cases the current animation style behaves better, so I'd rather k

[2017-11-10 08:41] wongjiahau opened #47 "TypeDefinition support? [help wanted]"
I'm currently using typescript to write my react app, therefore I need to have the TypeDefinition file for this library so that I can use it.
Are contributors going to write one for it?

[2017-11-14 08:17] permadiwibisono opened #48 "How to use loadingBarMiddleware with axios?"
How  to using loadingBarMiddleware with axios not promises?

[2017-11-14 08:26] mironov commented on #48
@permadiwibisono Isn't `axios` use promises under the hood? Please take a look at this commit to have the feeling how to use loading bar with `axios`: https://github.com/mironov/react-redux-loading-bar/commit/8044ea63c792a8991ee2fd5efcb7972a4dbed0dd

[2017-11-14 10:40] permadiwibisono commented on #48
@mironov it's automatically change type from 'photos/FETCH' to 'photos/FETCH_FULFILLED'?

[2017-11-14 10:54] permadiwibisono commented on #48
ohh I see,  you use promiseMiddleware. Can I use promiseMiddleware too with axios? I never using this package before. I'll try. Thanks

[2017-11-14 14:32] mironov commented on #48
@permadiwibisono that's right, you can use `promiseMiddleware` with `axios` for sure.

[2017-11-14 22:05] reginaldwhite commented on #41
I am seeing this same behavior using 2.9.3 and manual `showLoading()` and `hideLoading()` calls.
In my case the calls are taking around 1-1.5s to resolve; I do not see the bar until the hide call, which animates quickly and goes away.

[2017-11-15 07:55] mironov commented on #41
@reginaldwhite That sounds like a bug. Could you make an example that reproduces the problem? You can take [the demo](https://github.com/mironov/react-redux-loading-bar/tree/gh-pages) as a starting point.

[2017-11-15 16:06] reginaldwhite commented on #41
Yes; I will try.  We are using `redux-thunk` as well.

[2017-11-15 20:37] mironov commented on #48
I'm going to close this issue because that is not an issue. Feel free to reopen it if https://github.com/mironov/react-redux-loading-bar/commit/8044ea63c792a8991ee2fd5efcb7972a4dbed0dd doesn't work for you.

[2017-11-15 20:37] #48 closed

[2017-11-16 04:33] jasan-s commented on #34
@jamby  did you figure out how to use the middleware with axios and thunk ?

[2017-12-05 16:03] zolcman opened #51 "Cannot read property 'default' of undefined"
Try add redux loading bar and have this error

My reducer

[code]

[2017-12-07 09:30] mehrdaad opened #52 "Customizing progressbar with props"
Hey, thanks for your efforts.
Can we customize the progressbar like the color or direction of completion with props?
I checked
https://github.com/mironov/react-redux-loading-bar/blob/master/src/loading_bar.js#L189
but seems like there isn't any way to customize.

Also, Is there any to show a circular a progress bar like: http://ricostacruz.com/nprogress/ ? thanks.

[2017-12-09 08:53] mironov commented on #52
@mehrdaad You can configure the color with `<LoadingBar style={{ backgroundColor: 'blue' }} />`.

The direction can be switched with `<LoadingBar style={{ transformOrigin: 'right' }} />`.

Unfortunately, there's no way to show a circle like `nprogress` does.

[2017-12-09 10:12] mehrdaad commented on #52
@mironov what' your opinion about creating a pr and adding that feature?

[2017-12-09 10:23] mironov commented on #52
@mehrdaad I'd accept the PR if it will be configurable via props i.e. doesn't break the current behavior with default props.

[2017-12-09 10:40] mironov commented on #51
@zolcman This should be fixed in v3.0.2.

Please use the bundled `immutableLoadingBarReducer` with an immutable store.

The commit for the reference: https://github.com/mironov/react-redux-loading-bar/commit/45ced448dde5379fe24e59fdc36c4d08bb1e94d8

[2017-12-09 10:40] #51 closed

[2017-12-09 10:40] #52 closed

[2017-12-09 10:45] mehrdaad commented on #52
Ok will work on it. How about creating a branch here? Or creating a pull request directly on this repo?

[2017-12-09 11:59] mironov commented on #52
@mehrdaad Sounds good. You can fork the repo and submit a PR to this repo.

[2017-12-09 12:24] mironov commented on #47
@wongjiahau There are TypeScript definitions in [`index.d.ts`](https://github.com/mironov/react-redux-loading-bar/blob/master/index.d.ts). Do they work for you?

[2017-12-10 06:47] rkrishn opened #53 "Loading Bar not showing up"
Hi  I am using react/redux with react-redux-loading-bar plugin here is my store and saga and UI component. Could any one tell what i am doing wrong here.

SAGA.js

[code]

Index.js

[code]

Ui component

[code]

[2017-12-10 19:03] mironov commented on #53
@rkrishn Could you post here what actions dispatched and in what order? You can see that with [`redux-logger`](https://github.com/evgenyrodionov/redux-logger) or [`Redux DevTools`](https://chrome.google.com/webstore/detail/redux-devtools/lmhkpmbekcpmknklioeibfkpmmfibljd?hl=en).

[2017-12-11 06:14] rkrishn commented on #53
![capture](https://user-images.githubusercontent.com/16647331/33818012-af77c11e-de68-11e7-8f46-772b29fede43.PNG)

[2017-12-11 06:17] rkrishn commented on #53
![image](https://user-images.githubusercontent.com/16647331/33818080-0050f6fa-de69-11e7-83ab-f0aa2449b1d1.png)

[2017-12-11 06:17] rkrishn commented on #53
@mironov  attached the file with redux-logger please have a look

[2017-12-11 07:02] mironov commented on #51
@zolcman I just released v3.0.3 that doesn't require to use `immutableLoadingBarReducer `.
See the following commit as a reference implementation: https://github.com/mironov/react-redux-loading-bar/commit/c66900a1df2c9e91ec3db32856f349562a592369

[2017-12-11 08:24] wongjiahau commented on #47
Thanks, I will look at it soon

[2017-12-11 09:17] mironov commented on #53
@rkrishn I can't think of anything off the top of my head. Could you publish a quick repository that reproduces the issue?

[2017-12-11 09:37] rkrishn commented on #53
@mironov I have hosted the repo code in github please checkout my code.
https://github.com/rkrishn/github_user_search

[2017-12-11 15:43] MikeDevice opened #54 "Loading bar doesn't disappear on immediately props changing"
I've found a possible problem. I use loading bar just passing a `loading` prop:
[code]
So I've noticed when at first `loading` is equal `1` or `2` or `whatever number not equal 0` and then this variable is quickly changing to `0`, `LoadingBar` doesn't disappear.

I prepared a quick [demo](https://mikedevice.github.io/react-redux-loading-bar/). This demo is a useless and incorrect, but it helps to

[2017-12-12 10:09] rkrishn commented on #53
@mironov solved the issue by passing loading prop for LoadingBar. But do we need to pass the loading prop from state ?

[2017-12-12 12:26] mironov commented on #53
@rkrishn Passing the loading prop shouldn't be needed as it is pulled from the store by the connected Loading Bar component. It is exported via the default export.

https://github.com/rkrishn/github_user_search/blob/b43fed97ef6ee69f7c2db2921299f2b4d6fa53dc/src/components/App.js#L5

Looks like you're importing the bare UI component that doesn't connect itself to the store.
Please change the line to

[2017-12-12 16:57] rkrishn commented on #53
thanks @mironov its working now.

[2017-12-12 17:03] #53 closed

[2017-12-12 17:12] mironov commented on #53
@rkrishn Thank you for the repository with the demo. It helped a lot.

[2017-12-14 08:07] ziabary opened #56 "TypeError: Cannot read property 'default' of undefined"
Just installed react-redux-loading-bar in a kriasoft/starterkit-redux based application and I got following error:
[code]

[2017-12-14 16:42] joelcollyer commented on #56
I encountered this too. Make sure you update your reducer to include the loading bar:

[code]

[2017-12-15 18:36] mironov commented on #56
@joelcollyer Thank you for answering this question.

@ziabary Is your issue resolved? Have you installed loading bar reducer?

[2017-12-16 08:48] ziabary commented on #56
@joelcollyer : Thanks for your reply it was solved
@mironov: The problem was that I didn't include "loadingBar" as reducer name. Following code fails:

'''
import { loadingBarReducer } from 'react-redux-loading-bar'

const rootReducer = combineReducers({
  // ...
  loadingBarReducer,
})

export default rootReducer
''''

[2017-12-16 09:37] mironov commented on #56
@ziabary Thank you for sharing that. Glad your issue is resolved. I'm going to close it.

[2017-12-16 09:37] #56 closed

[2017-12-16 15:18] mironov commented on #47
@wongjiahau I'm going to close the issue for now. Feel free to re-open it if the current TypeScript definitions missing something.

[2017-12-16 15:18] #47 closed

[2017-12-16 17:14] #54 closed

[2018-02-06 09:24] muhzi4u commented on #15
Hi @mironov .Thanks for your awesome work.I am facing a small issue in my app.I have tried all of your soultions. but the loading bar is not displaying.These are the various files that am using,

**store.js**
[code]

**reducers.js**
[code]
**action.js**
[code]
**app.js**
[code]

**Output**
![screen shot 2018-02-06 at 2 50 58 pm](https://user-images.githubusercontent.com/12408980/35851201-437df57a-

[2018-02-07 08:17] mironov commented on #15
Hi @muhzi4u, the reducer is installed correctly but the middleware should be installed as `loadingBarMiddleware()` because it can accept additional configuration options.

However, the middleware is only needed if you use some kind of `promise-middleware`.
If you dispatch `showLoading` and `hideLoading` actions yourself, you can skip the middleware step.

That doesn't explain why the loading bar i

[2018-02-07 16:23] muhzi4u commented on #15
Hi @mironov .It is working after when i change `loadingBarMiddleware` to `loadingBarMiddleware()` in **reducers.js**.Thank you so much

[2018-02-15 17:15] diegoalmesp opened #58 "props Children"
Hi! I was trying to attach another div to `<LoadingBar />` so that will block the component below. The idea is: when you click a button, after the dispatch I will lock the screen while showing the loading bar.

something like this.props.children will be usefull so I could do

    <LoadingBar>
        <div block />
    </LoadingBar>

Do you have another approach to sugest? I also created a Loading

[2018-02-17 09:47] mironov commented on #58
Hi @diegoalmesp. Unfortunately, it is not possible to render custom HTML inside Loading Bar.

I'd suggest rendering some kind of Modal that will lock the screen and display the Loading Bar along with any additional HTML. You can dispatch an action on button click that will show the Modal and invoke loading bar's `showLoading()` action. Once the long-running action completes, you can hide the modal

[2018-02-21 08:12] mironov commented on #58
I'm going to close the issue. Feel free to reopen it if you have any question.

[2018-02-21 08:12] #58 closed

[2018-02-22 11:13] diegoalmesp commented on #58
Thanks @mironov !

[2018-02-22 16:32] Razzwan opened #59 "Object doesn't support this action"
But in IE: Object doesn't support this action, when trying `loading-bar/SHOW` action executed

[2018-02-23 09:52] mironov commented on #59
@Razzwan Is the [demo](https://mironov.github.io/react-redux-loading-bar/) working for you? Which version of Internet Explorer are you using?

[2018-02-27 12:56] ARKKYN commented on #15
it is not working i did as mentioned

[2018-03-09 03:28] Reptarsrage opened #60 "Promise middleware does not support 'scope' property"
The promise middleware [here](https://github.com/pburtchaell/redux-promise-middleware/blob/master/src/index.js)  does not support any custom properties on the action except for type, payload and meta. Therefore, this library's middleware should check for the scope property within the meta property of the action, not on the action itself.

[2018-03-09 03:30] Reptarsrage commented on #60
You could change line 17 of  [loading_bar_middleware.js](https://raw.githubusercontent.com/mironov/react-redux-loading-bar/master/src/loading_bar_middleware.js) from:
`const actionScope = action.scope || scope`
to:
`const actionScope = action.meta.scope || scope`

[2018-03-10 14:31] mironov commented on #60
@Reptarsrage Thank you. This should be fixed in v3.1.2.
The previous behavior is retained for compatibility reasons.

[2018-03-10 14:31] #60 closed

[2018-03-14 08:39] mironov commented on #59
I'm going to close the issue because of inactivity. Feel free to reopen it.
I tested the demo in IE, and it worked for me. Need more info.

[2018-03-14 08:39] #59 closed

[2018-04-04 15:32] tripstar22 opened #61 "Loading Bar not displayed"
Hi @mironov,

I am hoping you can help me solve an issue I am having with `react-redux-loading-bar`. I have installed the package and I created a component for `<LoadingBar />`. The component shows up when my app is loading (I can see my gradient overlay), however `LoadingBar` stays at `opacity: 0;` and `transform: scaleX(0)`.

Here is my code...

`LoadingBar` component:
[code]
Added reducer to st

[2018-04-07 10:55] mironov commented on #61
@tripstar22 Hi there. Am I right that you don't use any promise middleware and you will control the visibility of your `ProgressBar` by yourself using the `fetching` prop?

If that is true, I think you can import not connected `LoadingBar` component and mount it directly.
Something like this should work for you:
[code]

You can also skip the `middleware` and `reducer` steps because they are needed

[2018-04-10 14:49] tripstar22 commented on #61
@mironov thanks for the response. Yup you're correct about using the `fetching` prop.

Seems to be working now so I will close this issue. Thanks again!

[2018-04-10 14:49] #61 closed

[2018-04-12 20:21] saostad opened #62 "Creating an optimized production build... Failed to compile. after update to 4.0.2"
I am using Create-react-app to build my app, but after I update my react-redux-loading-bar package to 4.0.2 version I got error below:

I am guessing if I downgrade my version to 4.0.0 it will work but I didn't test it yet.

[2018-04-13 06:44] mironov commented on #62
@saostad Thank you for reporting this.
I pushed v4.0.3 that depends on the latest `react-lifecycles-compat`.
Could you give it a try?

I created a test repository with the latest `create-react-app` and `react-redux-loading-bar`: https://github.com/mironov/create-react-app-loading-bar

I don't see this error in the console:
[code]

[2018-04-13 13:11] saostad commented on #62
Thanks

[2018-04-13 14:15] #62 closed

[2018-04-24 11:31] paschaldev opened #63 "Unsafe legacy lifecycles warning"
I use the latest build of react and I get this warning in my console.

[code]

[2018-04-26 19:41] jacekradko opened #64 "Redux 4.x.x support in package.json"
There was a new major version of Redux released recently [Changelog](https://github.com/reactjs/redux/releases). At first look it doesn't appear to contain any breaking changes. Any chance of updating the dependency in package.json  to `"redux": ">3.5.2"`?

[2018-04-27 02:28] KevinJunJun commented on #63
+1

[2018-04-27 09:35] mironov commented on #63
@paschaldev @KevinJunJun Please post your `yarn.lock` or `package-lock.json` files.

Loading Bar v4.0.3 does not contain legacy `componentWillReceiveProps` and `componentWillUpdate`.

I created a temporary repository with the latest React and Loading Bar:
https://github.com/mironov/create-react-app-loading-bar
I don't see the warnings in the console.

[2018-04-27 09:43] paschaldev commented on #63
I doubt. I cloned the repo of v4.0.3 and its still there.

[code]

[2018-04-27 09:50] paschaldev commented on #63
Here is the console error again. Cleared my cache and built again

[code]

[2018-04-27 09:52] mironov commented on #63
@paschaldev Spec description is incorrect. I'll update it.
What version of React do you use?

[2018-04-27 09:52] paschaldev commented on #63
@mironov my react version

"react": "^16.3.2",

[2018-04-27 10:12] #64 closed

[2018-04-27 10:17] mironov commented on #64
@jacekradko Good idea. I released v4.0.4 with relaxed Redux dependency.

[2018-04-27 13:27] paschaldev commented on #63
I have no `react-lifecycles-compat` installed in my project.

I didn't see the warning in that repository

[2018-04-28 20:03] mironov commented on #63
@paschaldev I think I know what could be the culprit here.
Could you verify that you have `react-redux` at least v5.0.7 or later installed?

[2018-04-28 23:34] paschaldev commented on #63
I have `redux` but not `react-redux. These are my dependencies

[code]

[2018-04-29 07:53] mironov commented on #63
@paschaldev `react-redux` is a peer dependency for the Loading Bar. It is used to connect the component to the Redux store. Please install `react-redux` v5.0.7 and that should fix the issue.

[2018-04-30 08:31] paschaldev commented on #63
@mironov I did install `react-redux` but I still get the warning.

`"react-redux": "^5.0.7",`

[2018-04-30 08:55] mironov commented on #63
@paschaldev Please post your full `package-lock.json`.

[2018-04-30 09:16] paschaldev commented on #63
@mironov

Here is the link

https://gist.github.com/paschaldev/8d64c877fc832376b4e5d7d0c7c7858a

[2018-05-03 09:33] KevinJunJun commented on #63
@paschaldev  I update the version of react-redux to 5.0.7 and solve the problem! Thx

[2018-05-05 11:44] mironov commented on #63
@paschaldev Could it be that you're using `styled-components` or something similar that wraps the Loading Bar?
I ran out of ideas. I'll need an example repository to find out the root cause of the issue. It shouldn't happen with latest `react-redux-loading-bar` and `react-redux`.

[2018-05-09 17:20] saostad opened #65 "Crash on IE11"
Hi,

My app works on all browsers except IE11, which for some reasons I have to support it. Here is the error message from console:

[code]

It seams problem is related to includes method for objects which is not available in IE11, I find a stack overflow [question ](https://stackoverflow.com/questions/31119300/ie11-object-doesnt-support-property-or-method-includes-javascript-window?utm_medium=org

[2018-05-14 06:50] mironov commented on #65
@saostad Thank you for reporting this.

I published v4.0.5 that should fix the problem for you. Please note that I haven't tested it in IE11 and there might be other issues.

[2018-05-14 13:25] saostad commented on #65
thanks, it seems there no problem anymore.

[2018-05-14 13:25] #65 closed

[2018-05-15 08:33] mironov commented on #63
@paschaldev I'm going to close the issue for now. The latest Loading Bar doesn't contain the legacy lifecycles. It must be something with your specific setup that couldn't be diagnosed without looking into the code. Feel free to reopen the issue if you have more info.

[2018-05-15 08:33] #63 closed

[2018-05-15 19:36] paschaldev commented on #63
I'm sorry I didn't reply, Everything works fine now. Thanks

[2018-06-06 14:46] sb-davidegironi commented on #63
Hello,
I've the same problem here.
@paschaldev  how did you solve?
I've try to yarn clean cache then yarn install, with no luck.

package dependecies here: https://pastebin.com/WqhpFgw3
    "react-redux": "^5.0.7",
    "react-redux-loading-bar": "^4.0.5",
yarn.lock here: https://pastebin.com/uHKCjT4U

Thanks!

[2018-06-22 17:39] pak11273 opened #69 "Uncaught TypeError: Cannot read property 'default' of undefined"
[code]

// I'm getting this error in the console:
`Uncaught TypeError: Cannot read property 'default' of undefined`

![image](https://user-images.githubusercontent.com/2309184/41790534-7cd9f5e0-7618-11e8-998f-2e3f4fde4d30.png)

[2018-06-23 12:14] mironov commented on #69
@pak11273 Have you [installed the reducer](https://github.com/mironov/react-redux-loading-bar#usage)?

[code]

[2018-06-25 13:44] pak11273 commented on #69
The reducer is installed.  I notice that you import loadingBarReducer with { } notation.  The docs do not reflect this, so which is correct?

[2018-06-25 13:55] pak11273 commented on #69
Yes the reducer is installed in the store.

[2018-06-25 14:02] mironov commented on #69
@pak11273 Is your `Test` component wrapped in the `react-redux`'s [`Provider`](https://github.com/reduxjs/react-redux/blob/master/docs/api.md#provider-store) somewhere up in the DOM tree?

[2018-06-25 14:09] pak11273 commented on #69
Ah nvm.  The problem was this:

[code]

Sorry for any inconviences.

[2018-06-25 14:09] #69 closed

[2018-07-12 18:52] felipe-pereira opened #70 "Unsafe legacy lifecycles error"
I'm getting this error when loading the page (no need to show the bar):

_Warning: Unsafe legacy lifecycles will not be called for components using new component APIs.

Connect(LoadingBar) uses getDerivedStateFromProps() but also contains the following legacy lifecycles:
  componentWillReceiveProps
  componentWillUpdate

The above lifecycles should be removed. Learn more about this warning here:
h

[2018-07-13 07:14] mironov commented on #70
@felipe-pereira Please ensure that you are using the latest versions of `react-redux-loading-bar` and `react-redux`. Related issue: #63

[2018-07-13 13:45] felipe-pereira commented on #70
Still have the issue after updating:

from package-lock.json

"react": {
      "version": "16.4.1",
      "resolved": "https://registry.npmjs.org/react/-/react-16.4.1.tgz",

"react-redux": {
      "version": "5.0.7",
      "resolved": "https://registry.npmjs.org/react-redux/-/react-redux-5.0.7.tgz",

"react-redux-loading-bar": {
      "version": "4.0.5",
      "resolved": "https://registry.npmjs.o

[2018-07-17 13:57] dayrl94 commented on #70
same issue im having, with the same version too

[2018-07-19 06:45] James-Dev commented on #63
Hi @paschaldev , could you let us know on how did you solve your issue?

Below are my package dependencies:
"react": "^16.4.1",
"react-redux": "^5.0.7",
"react-redux-loading-bar": "^4.0.5",

my full package.json can be found here: [https://pastebin.com/V7ngu1xL](https://pastebin.com/V7ngu1xL)

[2018-07-19 06:47] James-Dev commented on #70
Hi,

Same here, I'm facing the same issue with @felipe-pereira.

Below are my package dependencies:
"react": "^16.4.1",
"react-redux": "^5.0.7",
"react-redux-loading-bar": "^4.0.5",

my full package.json can be found here: [https://pastebin.com/V7ngu1xL](https://pastebin.com/V7ngu1xL)

Kindly, advice/ guide us on how to solve this issue? Thanks

[2018-07-30 22:32] EdoAPP commented on #70
Hi,

Did anyone find the solution to this? I'm facing the same problem.

Dependencies:
`
"react": "16.3.0",
"react-redux": "5.0.5",
"react-redux-loading-bar": "^4.0.5",
`

[2018-07-30 22:37] felipe-pereira commented on #70
in my case this wasn't a must so I just stashed the changes and will try again in some time, if one of you can repro this in a codepen that could help the author fix it

[2018-07-30 22:55] EdoAPP commented on #70
@felipe-pereira, the error seems to be for `react-lifecycles-compat` dependency. Looking at the library I could find this:

[code]

[code]

So basically what this means is that the polifyll won't work if your actual version already contains the new component lifecycle API. In that case, we would only need to use the polyfill if it react version doesn't contains the components new API

[2018-09-04 10:34] RaafatSobhy opened #73 "Showing percent"
how could i showing percent in loadingbar ?

[2018-09-08 13:13] mironov commented on #73
@RaafatSobhy Sorry, it is not possible at the moment. I'll be happy to merge a pull request with that change.

[2018-09-08 13:13] #73 closed

[2018-10-11 17:16] duranmla commented on #44
I was starting to do this but playing around in my local in a sort of monkey patching process, nevertheless, as I was just playing when I try to commit my solution in a fork I couldn't make it work. Adding the following snippet to the package loading_bar should work:

[code]

But currently in my application the state is not being updated so the progress bar is not being shown, the middleware is in

[2018-10-15 14:57] larrydahooster opened #76 "Loading bar started to flicker in newest Chrome Version"
Lately I figured out that the loading bar in our app started acting really strange in Chrome Browser on Mac (Version 69.0.3497.100 (Official Build) (64-bit)).

I checked the demo of the repo and could see the same jump effect in Chrome
![oct-15-2018 16-54-34](https://user-images.githubusercontent.com/4989851/46958859-0d830a00-d09b-11e8-9ac2-93601b19fe1e.gif)

Whereas Safari in comparison runs smoo

[2018-10-16 18:45] redheadedstep commented on #76
I looked through the source code and the Chrome bug seems to be caused by the `ANIMATION_DURATION`.  I played around with it a bit and was able to get Chrome to show a smooth animation by making this change:

[code]

[code]

By syncing the `ANIMATION_DURATION` with the `UPDATE_TIME`, Chrome no longer had the stutter and produced a smooth transition.

I submitted a new pull request for the update.

[2018-10-19 08:46] larrydahooster commented on #76
Thanks for your research. What I don't understand is why changing a constant value has an effect on transition?

[2018-10-21 19:56] mironov commented on #76
@larrydahooster thank you for opening the issue.
Please give a try to the v4.1.0. It ships with another type of CSS animation and should work better.

[2018-10-22 08:18] larrydahooster commented on #76
@mironov Cool thanks. Fixed it for me.

[2018-10-22 08:18] #76 closed

[2018-10-22 08:20] larrydahooster commented on #76
@mironov Works for me. Thanks very much.

[2018-10-24 08:16] Roseidon opened #78 "Indeterminate Loading Bar"
Are there plans to implement an indeterminate Loading Bar as well?

[2018-11-19 08:20] mironov commented on #78
@Roseidon Sorry. I don't have plans to implement an indeterminate Loading Bar but I'd love to accept a PR.

[2018-11-22 16:27] CROSP opened #79 "Loading bar is not changing loading state even if loading-bar/SHOW is triggered"
Hi, thank you for a great library, however I have a problem, that haven't been able to solve for several hours.

My `index` file has the following content

[code]

I added the middleware as follows

[code]

And reducers in the following way

[code]

The `loading-bar/SHOW` is triggered

![image](https://user-images.githubusercontent.com/5072318/48914134-3c9f4f00-ee83-11e8-8ea4-ac3024b247ac.png)

Ho

[2018-11-24 09:37] mironov commented on #79
@CROSP Hi, thank you for the question.
How do you import the `LoadingBar` component? The library exports both the connected container and the component itself. The latter isn't connected to the Redux store and doesn't react to store changes.

Please make sure you are importing the connected container:
[code]

[2018-11-24 17:50] CROSP commented on #79
@mironov Hi, thank you for your reply !!!
Your are absolutely right, I have imported incorrect component, after importing the default one class everything works perfectly.
Many thanks.

[2018-11-25 10:14] #79 closed

[2018-12-20 11:00] hamza-jutt commented on #61
Hello! @mironov
I've a similar issue. Loading bar is not being displayed.

Here is the store config. I'm using axios.
[code]

[2018-12-20 11:40] hamza-jutt opened #80 "Loading Bar not being displayed"
Hello! @mironov
I've a similar issue. Loading bar is not being displayed.

Here is the store config. I'm using axios.
[code]

Here is the Component Using loading bar:
[code]

Here is the reducer:

[code]

[2018-12-20 12:17] mironov commented on #80
@hamza-jutt Hi Hamza. Looks like you are using [`redux-promise`](https://github.com/redux-utilities/redux-promise) which doesn't dispatch additional `pending`/`done` actions like other promise middlewares do (for example, [`redux-promise-middleware`](https://github.com/pburtchaell/redux-promise-middleware)). See this issue on the difference: https://github.com/pburtchaell/redux-promise-middleware/

[2018-12-26 09:36] ashok10103 opened #81 "Loading Bar not showing up when mounted"
I have a problem with using React Redux Loading Bar.it is not showing up.I'm using immutable js, redux immutable library in root reducer.I don't get any errors. If I inspect elements tree, there is only one empty div. what mistake am I making here

**index.js**

import { ImmutableLoadingBar as LoadingBar} from 'react-redux-loading-bar'

class Header extends React.Component {
render() {
return (

[2018-12-26 09:51] mironov commented on #81
@ashok10103 Hi there. Do you use any promise middleware? If not, you should dispatch `showLoading` and `hideLoading` manually. See more: https://github.com/mironov/react-redux-loading-bar#usage-without-middleware

[2018-12-26 10:00] ashok10103 commented on #81
@mironov i use saga middleware

[2018-12-27 08:48] ashok10103 commented on #81
thanks @mironov . it works, i will close this issue

[2018-12-31 10:16] hamza-jutt commented on #80
Thanks @mironov Rather than dispatching hide and show I'll go with updating the middleware to redux-promise-middleware and it works.

Although I'm facing a problem with the loading bar. The loading bar on show starts from the maxProgress value set and not from 0. it does not move gradually.

[2019-01-01 11:21] glekner opened #82 "Complete animation on hideLoading"
Is there a way for the bar to complete the animation all way through (at one tick) once hideLoading has been called? Right now the bar just disappears
![loadingbar](https://user-images.githubusercontent.com/24938324/50572370-0d57f800-0dc8-11e9-8df6-b9744521d588.gif)

[2019-01-01 21:14] mironov commented on #80
@hamza-jutt That is weird. Could it be that `hideLoading` is invoked right after `showLoading`? Do you have redux logging middleware installed? Please check with the log for the list of dispatched actions.

[2019-01-01 21:31] mironov commented on #82
@glekner It should complete the animation on `hideLoading`. How do you mount Loading Bar? Do you pass any custom `updateTime`, `maxProgress`, `progressIncrease`.

[2019-01-02 22:33] franklixuefei opened #83 "[Question] Does this support the react-redux@6.0.0?"
I asked because in the latest react-redux [specs](https://github.com/reduxjs/react-redux/releases/tag/v6.0.0), it mentioned that

[2019-01-02 22:37] franklixuefei commented on #83
[code]

[2019-01-03 09:50] glekner commented on #82
@mironov nevermind the problem is at my end, the component gets unmounted on page switching due to rails backend.

[2019-01-03 09:50] #82 closed

[2019-01-07 08:49] mironov commented on #83
@franklixuefei Good question. I think the Loading Bar doesn't support the latest Redux yet. I'll try to find time to release an updated version this week.

[2019-01-10 17:40] franklixuefei commented on #83
Thanks you!

[2019-01-13 00:13] kopax commented on #44
Hi everyone, any update on this?

[2019-01-13 00:29] kopax opened #84 "How to use with react-router"
Hi everyone and thanks for sharing this,

I know redux well and react well, I understand that we can dispatch two actions to animate the loading bar.

I am using `react-router-dom@4.3.1` and `connected-react-router@6.1.0`, does anybody have a working well integration with react-router to purpose here?

Thanks in advance,

[2019-01-13 15:53] kopax commented on #84
I am still trying to figure out how I can use this properly.

- What is the benefits of using `redux-promise-middleware` ?

I saw `React.Lazy` appear in React v16.6.

I see react recommend [loadable-components](https://github.com/smooth-code/loadable-components), I also see a similiar [react-loadable](https://github.com/jamiebuilds/react-loadable).

I want to enable route chunking in webpack but I

[2019-01-15 13:57] #84 closed

[2019-01-15 14:03] kopax opened #85 "It does not render any classname nor interact with the store"
I've just tried to add `<LoadingBar />` in my app, it render a `<div></div>` with no class.

I have wrapped the div because it was completely impossible to use `style` `className` or `css` to customize the props.

        <div css={`
          & > div {
            height: 3px;
            background-color: red;
            position: absolute;
          }
        `}>
          <LoadingBar />

[2019-01-19 19:09] mironov commented on #85
@kopax How do you import `LoadingBar`? It should be imported from the default export in order to be connected to the store.

[code]

You should be able to configure style by passing the `style` prop:
[code]

[2019-01-20 18:42] kopax commented on #85
Yes, we did like this. We also tried the immutable version. Both failed so we switch to another lib. Maybe it's our fault. Thanks for replying though.

[2019-01-20 18:42] #85 closed

[2019-01-30 11:57] leandroaps opened #86 "Step Progress"
Hello Mironov, how are you?

I'm using you progress bar component, awesome by the way. My environment uses React + Redux + Thunk and the progress bar works fine for fetch items. I have a big form with nine steps, I trying to use you component to setup the percentage of the form was filled by the user, each step send a post to the back-end with some status, and I trying to use this to send a value

[2019-02-17 16:48] mironov commented on #86
@leandroaps Unfortunately, it is not possible to do that. The current version of the Loading Bar can only emulate progress. It doesn't support rendering a Loading Bat that progressed to a particular %.

However, I think we should implement that feature. I'll keep the issue open until it is resolved.

[2019-05-28 00:39] ZiedHf opened #88 "RTL Support"
Hey guys,
Is there an appropriate way to support an RTL Layout ?
It could be a feature out of the box instead of adding CSS rules like _transform: rotate(-180deg);_ to the _LoadingBar_ component.

[2019-06-02 20:24] #88 closed

[2019-06-02 20:25] mironov commented on #88
@ZiedHf hey, please give `4.3.0` a try. It supports newly added `direction="rtl"` prop.

[2019-06-21 17:59] erkieh opened #91 "Usage without redux"
Would it be possible to use this without redux?

[2019-06-22 20:24] mironov commented on #91
@erkieh Yes, you can import not connected component:
`import { LoadingBar } from 'react-redux-loading-bar'`

And mount it the following way:
[code]

Please note that you will need to pass `loading` prop > 0 to show Loading Bar and = 0 to hide it.

[2019-06-22 20:33] erkieh commented on #91
I was hoping to use it without having redux in my project at all. The import still runs the script and tries to create a connected component.

[2019-06-22 20:44] mironov commented on #91
@erkieh Well, `redux` is a peer dependency and will always be. If you don't use `redux` at all, you might want to choose another pure react library.

[2019-06-22 20:49] #91 closed

[2019-07-22 10:18] epavan opened #94 "Highlight updates shows up a blinking loading bar."
Hi there, Have you ever faced the following:

![loadingbar](https://user-images.githubusercontent.com/15023919/61625106-3f547d00-ac7a-11e9-8896-60a55ac7df41.gif)

As you can see from the redux panel we call hideLoading() and the loading bar hides but turning on React "Highlight updates" it looks like the loading bar gets rendered again and again.

I set up a console.log() in the loading bar parent

[2019-07-24 22:24] mironov commented on #94
@epavan Hi there. I have never seen this issue before.
I tried to reproduce it on the [demo](https://mironov.github.io/react-redux-loading-bar/) without luck so far. Could you help me with that?

It is hard to see the actions on the attached image. Am I right that there were two `showLoading` events and one `hideLoading`?

[2019-08-07 21:53] dipak-marathe opened #95 "Facing following issue while using 'react-redux-loading-bar'"
loading_bar.js:237 Uncaught TypeError: Cannot read property 'default' of undefined
    at mapStateToProps (loading_bar.js:237)
    at computeStateProps (connect.js:60)
    at Connect.updateStatePropsIfNeeded (connect.js:106)
    at Connect.render (connect.js:209)
    at ReactCompositeComponent.js:793
    at measureLifeCyclePerf (ReactCompositeComponent.js:73)
    at ReactCompositeComponentWrapper.

[2019-08-12 12:44] mironov commented on #95
@dipak-marathe Hi, I think we spoke over the email.

It seems that Redux store is not available to the Loading Bar.
Please make sure that you wrap your components in <Provider /> somewhere in the tree.
If possible, please consider creating a repo that reproduces the problem.

I'm going to close the issue for now. Feel free to reopen it if you have more details.

[2019-08-12 12:44] #95 closed

[2019-08-12 15:52] epavan commented on #94
Yep, do you think that's the cause?

[2019-09-10 14:17] jonrandahl opened #96 "`resetLoading()` method is not fully resetting the component."
**Describe the bug**
We first call the `showLoading()` method in our primary HOC to initiate the component and display the progress animation while data is arriving; we were then closing all of these calls via the `hideLoading()` method in the individual components which display the data and this was working perfectly.

We then added another component to the HOC which enabled the users to change t

[2019-10-20 13:30] mironov commented on #96
@jonrandahl First of all, thank you for the perfect bug report with a detailed explanation of the problem.

I've released `v4.5.0` that improves the handling of the situation when the progress is reset (`start` is called right after `stop`). I'm not 100% positive that it fixes your particular problem though. In my testing, the Loading Bar resets the progress as expected when `showLoading()` is cal

[2019-10-28 09:27] jonrandahl commented on #96
Thanks @mironov, was just reassigned the issue on our platform so I will implement the new version and report back if this has resolved or improved anything.

J

[2019-10-28 15:53] jonrandahl commented on #96
I've now tested the updates in v4.5.0 as requested and while I can confirm the issue initially reported has been resolved I'm not 100% sure, as you stated, whether it was us moving the dispatch calls around in our child components or the update itself. Nonetheless, I'm closing this ticket as the original issue has been resolved. Thank you for all your hard work with this module!

[2019-11-01 12:51] nikhilracha opened #97 "Loading bar not working with redux-persist"
I have implemented react-redux-loading-bar with
`loadingBarMiddleware(
            {
                promiseTypeSuffixes: ['REQUEST', 'SUCCESS', 'FAILURE'],
            }`
and it was working perfectly fine. But after implementing the redux-persist the loading bar is not visible anymore.

After redux-persist
store.js

`
function configureStore(initialState = {}) {

    const persistConfig = {

[2019-11-05 04:04] ahmadsukabul opened #98 "× Could not find "store" in the context of "Connect(LoadingBar)"."
×
Could not find "store" in the context of "Connect(LoadingBar)". Either wrap the root component in a <Provider>, or pass a custom React context provider to <Provider> and the corresponding React context consumer to Connect(LoadingBar) in connect options.

please help me.. thanks alot

[2019-11-05 10:31] faizaankhan opened #99 "Use for polling"
I am using this awesome lib to show a loading bar during short polling. The problem I have is the bar can't be slowed down, it just runs to the end at 95% and then waits for the hide method to be invoked. Also, there is no end animation, which ensures that the bar is shown to got till the end of its place.

[2019-11-05 12:01] nagarajasr opened #100 "Minified react error 321"
i'm getting a minified react error 321 - https://fb.me/react-invalid-hook-call when using default import LoadingBar
if i switch to importing named export LoadingBar the error goes away but no loading bar is displayed.
the rendered div is empty.

[2019-11-12 08:56] #100 closed

[2019-11-12 09:01] nagarajasr commented on #100
because of the way i was bundling the application dependencies, i ended up having multiple copies of react in the final bundle which caused this issue. fixed the bundling configuration to resolve the issue.
so even though ```npm ls react``` was showing only one version of react, the actual bundle had multiple copies.

[2019-11-17 14:21] mironov commented on #99
@faizaankhan Hi there. Thank you for your kind words. You can increase `updateTime` or decrease `progressIncrease` to slow down the progress simulation.
Please see how to pass them at https://github.com/mironov/react-redux-loading-bar#configure-progress-simulation

I can see the ending animation in the demo: https://mironov.github.io/react-redux-loading-bar/
Could you confirm that you don't see it

[2019-11-17 14:25] mironov commented on #98
@ahmadsukabul That must mean that the component can't find Redux `store` in the context.
Please make sure that you have wrapped up your React tree in the `Provider` as it is shown in the Redux docs: https://redux.js.org/basics/usage-with-react#passing-the-store

[2019-11-17 14:36] mironov commented on #97
@nikhilracha Hi there. It is hard to say from this what's wrong exactly.
If you pass `loading={1}` to the component, does it become visible?

[2019-11-18 07:53] faizaankhan commented on #99
@mironov Thanks for reaching back, ending animation is not working for me. No problem in the demo.
The thing is I explicitly call the stop function. On that case, the ending animations don't seem to work.

[2019-11-18 16:41] nikhilracha commented on #97
No, it's not visible. To cut short.. Here is the thing. I am using redux, thunk and loading bar middleware to show the side effects. But when i implement the same along with redux-persist, the loading bar is not visible. But, the reducers are being implemented such as LOADING_BAR_SHOW, LOADING_BAR_HIDE .......
I don't understand why the loading bar is not visible even when the reducers are getting

[2019-11-24 16:44] mironov commented on #97
@nikhilracha I'm not sure either. Can you come up with a demo with `redux-persist`? I can't think of a reason how it can break the Loading Bar now.

[2020-02-12 11:19] Malexs commented on #98
@mironov not sure, but seems like we get this error after `react-redux` update to v7.1.0 even with associated store.

[2020-02-16 11:01] mironov commented on #98
@Malexs Could you provide a repository that reproduces the issue? The [demo](https://mironov.github.io/react-redux-loading-bar/) of the Loading Bar uses `react-redux` 7, and seems to be working fine: https://github.com/mironov/react-redux-loading-bar/tree/gh-pages

[2020-07-17 21:10] exzizt opened #103 "Can't get loading bar to stay within parent container"
Hi there! My team has been struggling this issue with quite a while. We're trying to get the loading bar to behave "properly" when it's inside a container. For example, we want to use the loading bar in a modal wrapper component like this:

[code]
Except, the loading bar starts from the far left side of the screen and ends on the right, no matter what we do.

Any help is greatly appreciated. Here'

[2020-08-01 20:57] mironov commented on #103
@exzizt Hey, thanks filing this issue. I agree that animating with `width` would simplify everything, and fix your issue. We actually had this type of animation [prior to v2.6.0](https://github.com/mironov/react-redux-loading-bar/commit/cfb35014376fbd7c01e2a04f5b1a04573a46113a) but had to shift from it to `transform` as the latter was smoother at the time.

However, looks like animating with `widt

[2020-08-01 23:01] exzizt commented on #103
Awesome! Thanks for looking into it and making a release that solves the issue. I tried it out, and v5.0.0 doesn't have the issue present. Looks good!

[2020-08-01 23:01] #103 closed

[2020-08-04 18:17] Dani-Boy92 opened #105 "Loading bar is not displayed?"
Hi,

I know this question has been asked a lot in the past, but somehow I am not able to display the progress bar.

When I look at the page, I can't find a snippet in the form:

`<div style="width: 0%; transition: width 400ms ease-out, height 400ms linear, opacity 400ms ease-out; opacity: 0; height: 3px; background-color: red; position: absolute;"></div><div style="display: table; clear: both;"></

[2020-08-11 14:43] brillout opened #106 "Financing"
Hi :wave:,

I'm Romuald from the [Lsos](https://lsos.org/), an organization that develops financial solutions for open source, and we are currently reaching out to projects we like.

We have several solutions depending on your financial goals and we can help with:
- Increasing donations
- Starting/increasing consulting work for your users
- Earning a living from your open source work
- Remuneratin

[2020-08-12 14:22] mironov commented on #106
Thanks for the offer.
I don't think this is a viable path forward.

[2020-08-12 14:22] #106 closed

[2020-08-12 14:36] mironov commented on #105
@Dani-Boy92 Hey, everything seems right from the first look. Could you make sure that Loading Bar is shown when explicitly set to `loading="1"`?

You would need to import not decorated Loading Bar component and mount it as follows:
[code]

[2020-08-13 15:33] brillout commented on #106
Do you mind elaborating? I'm curious :)

[2020-08-31 18:50] cullsin commented on #44
Hello,

Thanks for the awesome plugin. I would like to do to React Native.  As you correctly mentioned, Only the view part needs to be updated. I am willing to take it forward to this plugin. Can you please guide me.

Raja K

[2020-09-12 15:41] ProIcons commented on #105
I have the same issue, actions are getting dispaatched and  loading bar isn't showing. with loading=1 it does.

[2020-09-15 07:24] mironov commented on #105
@ProIcons Just to double-check: how do you import LoadingBar?

`import LoadingBar from 'react-redux-loading-bar'` connects to Redux store automatically
`import { LoadingBar } from 'react-redux-loading-bar'` does not connect to the Redux store, and thus won't react to dispatched actions

[2020-09-28 11:16] rahul3883 commented on #105
Default import works. Thanks @mironov

[2020-09-28 12:16] ProIcons commented on #105
Yeah that was the problem :)

[2020-09-28 12:46] Dani-Boy92 commented on #105
Sorry for the late reponse. @mironov diagnosed the problem. There was an issue with the import. Thanks for your support. I will close the issue.

[2020-09-28 12:46] #105 closed

[2020-10-02 17:43] mironov commented on #44
@cullsin I think what you can do here is to import LoadingBar and extend it with `react-native` specific code for `render`. I haven't tried that but I think the following would work:

[code]

One step forward would be to extract the current logic into a separate base class and then have `LoadingBarDom` and `LoadingBarNative` extending that base class.

[2020-11-04 16:03] atefBB commented on #84
Hey @kopax ! I'm trying to integrate this package with `react-router-dom`, how did you solve this issue?

[2021-07-11 22:16] ldrv565 opened #113 "When array data in response have more than one item - hiding is skipping in production"
for example:
[{id: "ec3c3860-6ffd-462a-a20a-654855c2d694}]

in that case loading even will not be shown because it was 100ms

but if we will get
[{id: "ec3c3860-6ffd-462a-a20a-654855c2d694"}, {id: "dc8b2f52-b97d-4405-bdda-271869a87d90"}]
we will have loadingBar: {default: 1} forever

and for even next action it will just increment, but success action will be fired every time...

[2021-07-12 08:14] ldrv565 commented on #113
I am sorry, that was our mistake, i didn't pull current master when saw problem in production)

[2021-07-12 08:14] #113 closed

[2022-05-05 11:41] gcavancer opened #120 "Update peerDependencies to include React 18"
Currently, peerDependencies does not list React 18. If your own dependencies are compatible, would it be possible to publish a new version including React 18?

[2022-05-05 13:11] mironov commented on #120
Thank you for raising this. The new version 5.0.4 that supports React 18 has been released.

[2022-05-05 13:11] #120 closed